version: '3.8'

services:
  backend:
    build: .
    container_name: nest-backend
    ports:
      - "3001:3001"
    env_file:
      - .env
    depends_on:
      - mysql
    command: ["sh", "-c", "npm run migration:run && npm run start:prod"]

  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: nestdb
      MYSQL_USER: nest
      MYSQL_PASSWORD: 123456
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
